:root {
  --darker: #565cba;
  --dark: #6268c6;
  --medi: #4be1c3;
  --white: #fff;
  --black: #000;
  --del: #ed6772;
  --light: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}
button:hover {
  cursor: pointer;
}

body {
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
}

.app {
  background-color: var(--white);
  max-width: 1400px;
  margin: 50px;
  padding: 80px;
  border-radius: 15px;
  display: grid;
  justify-content: center;
}

.main-header {
  margin-bottom: 50px;
  text-transform: uppercase;
  justify-self: center;
}

/* SuperheroForm */
.superhero-form,
.superhero-label,
.superhero-form-input,
.superhero-form-btn {
  color: var(--white);
}
.superhero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  width: 400px;
  margin-inline: auto;
  margin-bottom: 100px;
  background-color: var(--darker);
  padding: 40px;
  border-radius: 20px;
  font-size: 20px;
}
.superhero-form-label {
  align-self: flex-start;
}
.superhero-form-input {
  height: 40px;
  width: 380px;
  margin: 5px 0px 15px 0px;
  background-color: var(--dark);
  border-radius: 5px;
  padding-left: 20px;
  font-size: 17px;
}
.superhero-form-btn {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  background-color: var(--medi);
  font-size: 17px;
  font-weight: 700;
  border-radius: 10px;
}
.superhero-form-btn:hover {
  opacity: 0.8;
}
::placeholder {
  color: var(--white);
  opacity: 0.4;
}
.superhero-form-input:focus {
  outline: none;
}
.superhero-form-input::-webkit-outer-spin-button,
.superhero-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* SuperheroesList */
.superheroes-list * {
  color: var(--black);
}
.superheroes-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.superhero {
  height: 150px;
  min-width: 525px;
  font-size: 22px;
  display: flex;
  gap: 68px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px hsla(231, 69%, 60%, 0.182);
  line-height: 25px;
}
.superhero div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-weight: 600;
}
.superhero-label {
  margin-left: 30px;
  font-size: 18px;
  opacity: 0.7;
}
.superhero-delete-btn {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  border: 4px solid var(--del);
  background-color: rgb(250, 250, 250);
  color: #ed6772;
}
.superhero-delete-btn:hover {
  background-color: var(--del);
  color: var(--white);
}

/* Signature */
.signature {
  position: relative;
  width: 170px;
  color: var(--light);
  margin: 30px;
  left: 50%;
  margin-left: -85px;
  letter-spacing: 0.1px;
}
.signature a {
  color: var(--medi);
  font-size: 18px;
  text-decoration: none;
}

/* MOBILE */
@media screen and (max-width: 800px) {
  body {
    width: 365px;
  }
  .app {
    width: 205px;
    margin: auto;
  }
  .main-header{
    font-size: 25px;
    margin-bottom: 40px;
  }

  /* SuperheroForm */
  .superhero-form {
    width: 240px;
    margin-bottom: 80px;
  }
  .superhero-form-label {
    font-size: 18px;
  }
  .superhero-form-input,
  .superhero-form-btn {
    width: 240px;

  }

  /* SuperheroesList */
  .superhero {
    min-width: 0px;
    width: 320px;
    gap: 15px;
    line-height: 20px;
  }
  .superhero-label {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
  }
  .superhero-data {
    font-size: 15px;
    font-weight: 600;
  }
  .superhero-delete-btn {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    font-size: 18px;
  }
}
